body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/18101140/pexels-photo-18101140/free-photo-of-silhouette-of-a-person-in-subway.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* استبدال بصورة الخلفية التي تريدها */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    height: 50vh;
    opacity: 0.9;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
